git[[:space:]]add[[:space:]]Models.scnassets.zip.enc filter=lfs diff=lfs merge=lfs -text
Models.scnassets.zip.enc filter=lfs diff=lfs merge=lfs -text
Models.scnassets.zip.enc
 filter=lfs diff=lfs merge=lfs -text
3DModels.scnassets.zip.enc filter=lfs diff=lfs merge=lfs -text
3DModels.scnassets.zip filter=lfs diff=lfs merge=lfs -text
